body {
	background-color: #e6e8ec;
	margin: 10% 20%;
	color: #ecb8a5;
	font-family: Arial, "sans serif";
  }
  
  h1 { 
	padding-bottom: 5%;
	font-size: 40px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	text-shadow: #e6e8ec;
  }
  
  header {
	padding: 0;
	margin: 0 15%;
	color: #904c77;
  }
  .CheckBox {
	padding: 10% ;
	margin: 5%;
	background-image: url('https://images.unsplash.com/photo-1548092372-0d1bd40894a3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size:auto;
	text-align: center;
	border-radius: 20px;
  }
  
  input, 
  button {
	margin: 2%;
	height:30px;
	border-radius: 10%;
  }
  
  #rules {
	padding-top: 2%;
	display: none;
  }
  
  #rules ul li {
	text-align: left;
  }
  
  #error {
	color: red;
	display : none;
  }